@import 'tailwindcss';
@plugin "daisyui";

@font-face {
  font-weight: 900;
  src: url('../fonts/Inter-Black.ttf');
  font-family: 'Inter';
}

@font-face {
  font-weight: 800;
  src: url('../fonts/Inter-ExtraBold.ttf');
  font-family: 'Inter';
}

@font-face {
  font-weight: 700;
  src: url('../fonts/Inter-Bold.ttf');
  font-family: 'Inter';
}

@font-face {
  font-weight: 600;
  src: url('../fonts/Inter-SemiBold.ttf');
  font-family: 'Inter';
}

@font-face {
  font-weight: 500;
  src: url('../fonts/Inter-Medium.ttf');
  font-family: 'Inter';
}

@font-face {
  font-weight: 400;
  src: url('../fonts/Inter-Regular.ttf');
  font-family: 'Inter';
}

@font-face {
  font-weight: 300;
  src: url('../fonts/Inter-Light.ttf');
  font-family: 'Inter';
}

@font-face {
  font-weight: 200;
  src: url('../fonts/Inter-ExtraLight.ttf');
  font-family: 'Inter';
}

@font-face {
  font-weight: 100;
  src: url('../fonts/Inter-Thin.ttf');
  font-family: 'Inter';
}

:host {
  all: initial;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: 'Inter', sans-serif !important;
  letter-spacing: normal;
}
